---
title: Posts
layout: page
pageOrder: 7
ignored: true
---

nav.linklist
  each doc in getCollection('posts').toJSON()
    li
      span= doc.date.toShortDateString()
      |  &raquo;&nbsp;
      a(href=doc.url)= doc.title
