
body
  padding-top 83px

// Navbar 
.navbar
	.navbar-inner .nav
		padding-top 20px

.tagline
	margin-top: 30px
	text-shadow: 0 1px 0 white;
	color: #777;

.brand
	background url('../images/logo.png') no-repeat
	width: 104px
	height: 62px

// Get it
ul li:last-child
	padding-left: 15px
.navbar .nav > li:last-child > a
	padding: 10px
	border: 1px solid #999
	border-radius: 5px
	text-transform: uppercase
	font-size: 14px

// banner
.hero-unit
	height: 379px
	padding: 0px
	-webkit-border-radius: 0px
	border-radius: 0px
	color: white
	background-image: url('../images/bookbg.jpg');

.iphone-container
	text-align: center
.iphone
	position: relative
	top: -70px


// Setup media queries here from deocpad authors website
.navbar.navbar-fixed-top
	margin-bottom: 0px

.drquote
	padding: 10px
	background-color: #eee
	padding: 20px
	margin-bottom: 20px
	text-align: center
	font-size: 22px
	font-style: italic
	p
		font-size: 14px

.leftside
	float: left
	width: 50%
	height: 379px
.rightside
	float: right
	width: 50%
	height: 379px
	background-image: url('../images/runner.jpg');


@media (max-width: 767px)
	// .hero-unit
	// 	margin-top: 20px
	// 	margin-top: 0px
	.rightside
		display: none
	.leftside
		 width: 100%
	// .iphone
	// 	position: absolute
	// 	right: -40px
	// 	top: 900px
	.iphone
		display: none
	// .content-wrapper
	// 	margin-right: 220px
	// .container
	// 	margin-left: 20px
	body 
		// padding-left: 0px !important
		// margin-right: 0px !important
		// padding-right: 0px !important
		// padding-top: 0px !important




