a, a:link
  cursor pointer

body
  padding-top 81px

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom: 30px

// Set colors
.red
	color: #c02515

// Navbar 
.navbar
	background-color white
	padding-bottom: 0px
	.navbar-inner
		background-color white
		background-image none
		border none
		.container
			padding-top 8px
		.nav
			float right
			padding-top 20px
		.brand
			background url('../images/logo.png') no-repeat
			width: 88px
			height: 62px

.tagline
	float: left
	width: 300px
	margin-top: 30px
	font-size: 18px
	color: #777
	padding-left: 15px

.hero-unit
	height: 379px
	padding: 0px
	-webkit-border-radius: 0px
	border-radius: 0px


// Setup media queries here from deocpad authors website
.navbar.navbar-fixed-top
	margin-bottom: 0px


@media (max-width: 767px)
	.hero-unit
		margin-top: 20px
		border-radius 15px






