--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit
  .leftside
      h1 _________ while you learn GRE vocabulary
  .rightside



// Example row of columns.

.container.content-wrapper
  .row
    .span4
      h4 Designed for movement
      p shows the powerful effects of aeorbic excerise on learning and memory.
    .span4.iphone-container
      img(src='/images/iphone.png').iphone
    .span4
      h4 Audio/video flashcards
      p or more per day significantly increases risk of heart disease and premature death.
.row.drquote
  .span
    blockquote "Cardiovascular health is more important than any other single factor in preserving and improving learning and memory”
    p Thomas Crook, Ph.D., clinical psychologist and memory researcher
.container.content-wrapper
  .row
    .span3
      h4 Highest frequency words
      p DocPad takes that good ol' simple approach of writing files and wraps it with the best modern innovations, providing an awesome intuitive, liberating and empowering solution for HTML5 web development.</p>
    .span3
      h4 Standard music files (m4a)
      p Bootstrap is a toolkit from Twitter designed to kickstart development of webapps and sites. It includes base CSS and HTML for typography, forms, buttons, tables, grids, navigation, and more.</p>
    .span3
      h4 Real human voice
      p DocPad takes that good ol' simple approach of writing files and wraps it with the best modern innovations, providing an awesome intuitive, liberating and empowering solution for HTML5 web development.</p>
    .span3
      h4 5 second delay
      p Bootstrap is a toolkit from Twitter designed to kickstart development of webapps and sites. It includes base CSS and HTML for typography, forms, buttons, tables, grids, navigation, and more.</p>
