--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit
  .leftside
      h1
        .quote-container 
          span.quotes Run
          span.quotes Walk
          span.quotes Jog
          span.quotes Swim
          span.quotes Cycle
          span.quotes Drive
        span &nbsp while you learn GRE vocabulary
      a.btn-custom.btn.btn-large get it now!
        div.price only $4.99
  .rightside



// Example row of columns.

.container.content-wrapper
  .row
    .span4
      h4 Designed for movement
      img(src='/images/brain.png', style='padding-right: 10px; width: 44px;').pull-left
      p
          :markdown
            Extensive research shows the powerful effects of aerobic 
            [exercise on learning and memory](http://www.google.com). Studies also show 
            the significant health risks associated with 
            [sitting for long periods](http://www.google.com) of time.

            RunGRE aims to take the **sitting out of studying**, 
            while adding the benefits of exercise on memory retention.

      img(src='/images/headphones.png').headphones
      h5 Remote conntrol flashcards
      p
        :markdown
          Click the *iphone remote* when you know a word.
          You never have to take the iPhone out of your pocket
          or look at the screen.

     .span4.iphone-container
      img(src='/images/iphone.png').iphone
    .span4
      h4 Audiovisual flashcards
      img(src='/images/heart.png', style='padding-right: 10px; width: 44px').pull-left
      p 
        :markdown
          RunGRE is the first flashcard system designed with exercise in mind. 
          See and hear flashcards for greatest memory retention, or use audio-only 
          when on the move.

          Developed with standard music files (m4a) RunGRE works on over 500 devices,
          including mp3 players, smartphones, laptops and tablets.

      img(src='/images/player.png').player
      h5 Smart playlists
      p
        :markdown
          Playlists adapt by playing less of the words you 
          know and more of the ones you don’t. *Spaced 
          repetition* implmented with iTunes playlists.


.row.drquote
   blockquote &ldquo;Cardiovascular health is more important than any other single factor in preserving and improving learning and memory&rdquo;
   p Thomas Crook, Ph.D., clinical psychologist and memory researcher
.container.content-wrapper
  .row
    .span3
      h4
        i.icon-bar-chart &nbsp
        span Highest frequency words
      p We’ve done a meta-analysis of all the highest frequency GRE vocabulary list and selected the most critical 500 GRE words you need to know.
    .span3
      h4
        i.icon-music &nbsp
        span Standard music files (m4a)
      p Not an app. RunGRE uses regular music files that can be played on any device and operating system you can play music on. Android, Windows, OSX, Linux? No problem.
    .span3
      h4 
        i.icon-comment &nbsp
        span Real human voice
      p Robot voices are getting better everyday (Hi Siri), but they still become annoying when listening for long periods. We recorded a real human to make listening a little more enjoyable.
    .span3
      h4
        i.icon-time &nbsp
        span 5 second delay
      p A 5 second delay between word and definition gives you the chance to recall the word for yourself, which is critical for retention.
